<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<display-name>ats-groupwear</display-name>

	<context-param>
		<param-name>dexter-formresolver-class</param-name>
		<param-value>jp.ats.webkit.dexter.ConcreteFormResolver</param-value>
	</context-param>
	<context-param>
		<param-name>dexter-developmode</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>dexter-developmode-rootpath</param-name>
		<param-value></param-value>
	</context-param>
	<context-param>
		<param-name>dexter-rootpath</param-name>
		<param-value></param-value>
	</context-param>
	<context-param>
		<param-name>dexter-suffix</param-name>
		<param-value>xml</param-value>
	</context-param>
	<context-param>
		<param-name>expire-days</param-name>
		<param-value>7</param-value>
	</context-param>
	<context-param>
		<param-name>file-repository</param-name>
		<param-value>[[file-repository]]</param-value>
	</context-param>

	<servlet>
		<servlet-name>dexterServlet</servlet-name>
		<servlet-class>jp.ats.webkit.dexter.DexterServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dexterServlet</servlet-name>
		<url-pattern>/dexter</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>longLifeServlet</servlet-name>
		<servlet-class>jp.ats.sheepdog.auth.LongLifeServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<init-param>
			<param-name>login-form</param-name>
			<param-value>/login.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>longLifeServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>holidayServlet</servlet-name>
		<servlet-class>jp.ats.webkit.util.HolidayServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>holidayServlet</servlet-name>
		<url-pattern>/holiday</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>infinicalUserServlet</servlet-name>
		<servlet-class>jp.ats.webkit.infinical.InfinicalServlet</servlet-class>
		<init-param>
			<param-name>factory-class</param-name>
			<param-value>jp.ats.sheepdog.infinical.UserInfinicalBuilderFactory</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>infinicalUserServlet</servlet-name>
		<url-pattern>/user/infinicalInit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>infinicalUserServlet</servlet-name>
		<url-pattern>/user/infinical</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>infinicalGroupServlet</servlet-name>
		<servlet-class>jp.ats.webkit.infinical.InfinicalServlet</servlet-class>
		<init-param>
			<param-name>factory-class</param-name>
			<param-value>jp.ats.sheepdog.infinical.GroupInfinicalBuilderFactory</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>infinicalGroupServlet</servlet-name>
		<url-pattern>/group/infinicalInit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>infinicalGroupServlet</servlet-name>
		<url-pattern>/group/infinical</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>infinicalMoveServlet</servlet-name>
		<servlet-class>jp.ats.webkit.infinical.MoveServlet</servlet-class>
		<init-param>
			<param-name>factory-class</param-name>
			<param-value>jp.ats.sheepdog.infinical.GroupInfinicalBuilderFactory</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>infinicalMoveServlet</servlet-name>
		<url-pattern>/group/infinicalMove</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>memberServlet</servlet-name>
		<servlet-class>jp.ats.sheepdog.common.MemberServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>memberServlet</servlet-name>
		<url-pattern>/member.act</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>attachedFileServlet</servlet-name>
		<servlet-class>jp.ats.sheepdog.common.AttachedFileServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>attachedFileServlet</servlet-name>
		<url-pattern>/download.act</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>parentCommentServlet</servlet-name>
		<servlet-class>jp.ats.sheepdog.common.ParentCommentServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>parentCommentServlet</servlet-name>
		<url-pattern>/parent.act</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>noticeServlet</servlet-name>
		<servlet-class>jp.ats.sheepdog.common.NoticeServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>noticeServlet</servlet-name>
		<url-pattern>/notice.act</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>newNoticeServlet</servlet-name>
		<servlet-class>jp.ats.sheepdog.common.NewNoticeServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>newNoticeServlet</servlet-name>
		<url-pattern>/new.act</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>groupThreadsServlet</servlet-name>
		<servlet-class>jp.ats.sheepdog.common.GroupThreadsServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>groupThreadsServlet</servlet-name>
		<url-pattern>/groupThreads.act</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>longLifeFilter</filter-name>
		<filter-class>jp.ats.sheepdog.auth.LongLifeFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>longLifeFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>fileUploadFilter</filter-name>
		<filter-class>jp.ats.webkit.util.FileUploadFilter</filter-class>
		<init-param>
			<param-name>header-encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>fileUploadFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>*.do</url-pattern>
		<url-pattern>*.act</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>parameterEncodingFilter</filter-name>
		<filter-class>jp.ats.webkit.util.ParameterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>parameterEncodingFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>*.do</url-pattern>
		<url-pattern>*.act</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>jspodManager</filter-name>
		<filter-class>jp.ats.webkit.jspod.JspodManager</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>jspodManager</filter-name>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>*.do</url-pattern>
		<url-pattern>*.act</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>backsightManager</filter-name>
		<filter-class>jp.ats.backsight.server.BacksightManager</filter-class>
		<init-param>
			<param-name>backsight-host</param-name>
			<param-value>localhost</param-value>
		</init-param>
		<init-param>
			<param-name>use-accesscontrol</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>oneuser-session-count</param-name>
			<param-value>30</param-value>
		</init-param>
		<init-param>
			<param-name>default-concurrentsession-count</param-name>
			<param-value>20</param-value>
		</init-param>
		<init-param>
			<param-name>default-concurrentrequest-count</param-name>
			<param-value>5</param-value>
		</init-param>
		<init-param>
			<param-name>default-sessiontimeout-minutes</param-name>
			<param-value>30</param-value>
		</init-param>
		<init-param>
			<param-name>password-submit-paths</param-name>
			<param-value>/ats-groupwear/common/passwordComplete.jsp,/ats-groupwear/admin/userInsert.jsp,/ats-groupwear/admin/userUpdate.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>password-input-names</param-name>
			<param-value>password,repassword</param-value>
		</init-param>
[[exceptionmail]]
		<init-param>
			<param-name>invalidsession-redirect-path</param-name>
			<param-value>/invalidSession.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>sessioncountover-redirect-path</param-name>
			<param-value>/sessionCountOver.jsp</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>backsightManager</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>backsightManager</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>liverwortFilter</filter-name>
		<filter-class>jp.ats.webkit.liverwort.LiverwortTransactionFilter</filter-class>
		<init-param>
			<param-name>schema-names</param-name>
			<param-value>PUBLIC</param-value>
		</init-param>
		<init-param>
			<param-name>enable-log</param-name>
			<param-value>[[enable-log]]</param-value>
		</init-param>
[[log-stacktrace-filter]]
		<init-param>
			<param-name>metadata-factory-class</param-name>
			<param-value>jp.ats.sheepdog.MyMetadataFactory</param-value>
		</init-param>
		<init-param>
			<param-name>transaction-factory-class</param-name>
			<param-value>jp.ats.sheepdog.WebTransactionFactory</param-value>
		</init-param>
		<init-param>
			<param-name>column-repository-factory-class</param-name>
			<param-value>[[column-repository-factory-class]]</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>liverwortFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>*.do</url-pattern>
		<url-pattern>*.act</url-pattern>
		<url-pattern>/user/infinicalInit</url-pattern>
		<url-pattern>/user/infinical</url-pattern>
		<url-pattern>/group/infinicalInit</url-pattern>
		<url-pattern>/group/infinical</url-pattern>
		<url-pattern>/group/infinicalMove</url-pattern>
		<url-pattern>/dexter</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>userFilter</filter-name>
		<filter-class>jp.ats.sheepdog.UserManager</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>userFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>*.do</url-pattern>
		<url-pattern>*.act</url-pattern>
		<url-pattern>/user/infinicalInit</url-pattern>
		<url-pattern>/user/infinical</url-pattern>
		<url-pattern>/group/infinicalInit</url-pattern>
		<url-pattern>/group/infinical</url-pattern>
		<url-pattern>/group/infinicalMove</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>exceptionForwardFilter</filter-name>
		<filter-class>jp.ats.webkit.util.ExceptionForwardFilter</filter-class>
		<init-param>
			<param-name>jp.ats.sheepdog.ApplicationException</param-name>
			<param-value>/exception.jsp</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>exceptionForwardFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>*.do</url-pattern>
		<url-pattern>*.act</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>dexterFilter</filter-name>
		<filter-class>jp.ats.webkit.dexter.DexterFilter</filter-class>
		<init-param>
			<param-name>forward-page</param-name>
			<param-value>/dexterError.jsp</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>dexterFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>controllerFilter</filter-name>
		<filter-class>jp.ats.webkit.action.Controller</filter-class>
		<init-param>
			<param-name>package-prefix</param-name>
			<param-value>jp.ats.sheepdog</param-value>
		</init-param>
		<init-param>
			<param-name>referer-redirect</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>controllerFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>sealManager</filter-name>
		<filter-class>jp.ats.sheepdog.common.SealManager</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sealManager</filter-name>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>*.do</url-pattern>
		<url-pattern>*.act</url-pattern>
		<url-pattern>/user/infinicalInit</url-pattern>
		<url-pattern>/user/infinical</url-pattern>
		<url-pattern>/group/infinicalInit</url-pattern>
		<url-pattern>/group/infinical</url-pattern>
		<url-pattern>/group/infinicalMove</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>jp.ats.backsight.server.BacksightManager</listener-class>
	</listener>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>500</error-code>
		<location>/error.jsp</location>
	</error-page>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>sheepdogAuth</web-resource-name>
			<url-pattern>*.jsp</url-pattern>
			<url-pattern>*.do</url-pattern>
			<url-pattern>*.act</url-pattern>
			<url-pattern>*.html</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>SYSTEM</role-name>
			<role-name>ADMIN</role-name>
			<role-name>USER</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>sheepdogAuthSystem</web-resource-name>
			<url-pattern>/system/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>SYSTEM</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>sheepdogAuthAdmin</web-resource-name>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>SYSTEM</role-name>
			<role-name>ADMIN</role-name>
		</auth-constraint>
	</security-constraint>

	<security-role>
		<role-name>SYSTEM</role-name>
		<role-name>ADMIN</role-name>
		<role-name>USER</role-name>
	</security-role>

	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login</form-login-page>
			<form-error-page>/login.jsp</form-error-page>
		</form-login-config>
	</login-config>

	<resource-ref>
		<description>Datasource</description>
		<res-ref-name>jdbc/datasource</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>
